<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ripple | {{title}}</title>
        <style>
            body {
                font-size: 18px;
            }
            td {
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>ripple</h1>
            <div style="float:right;">
                {% if logged_in == "true" %}
                    <button onclick="window.location.href='/me'">profile</button>
                    <button onclick="window.location.href='/logout'">logout</button>
                {% else %}
                    <button onclick="window.location.href='/login'">login</button>
                    <button onclick="window.location.href='/register'">register</button>
                {% endif %}
            </div>
        </header>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>