<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ripple | {{title}}</title>
        <style>
            body {
                font-size: 18px;
            }
            td {
                vertical-align: top;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <h1 onclick="window.location.href='/'">ripple</h1>
            <div style="float:right;">
                {% if logged_in == "true" %}
                    <button onclick="window.location.href='/home'">home</button>
                    <button onclick="window.location.href='/account'">account</button>
                    <button onclick="window.location.href='/logout'">logout</button>
                {% else %}
                    <button onclick="window.location.href='/login'">login</button>
                    <button onclick="window.location.href='/register'">register</button>
                {% endif %}
            </div>
        </header>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>