{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <div>
        <label for="email">email:</label>
        <input name="email" type="email">
    </div>
    <div>
        <label for="password">password:</label>
        <input name="password" type="password">
    </div>
    <div>
        <label for="confirm_password">confirm password:</label>
        <input name="confirm_password" type="password">
    </div>
    <input type="submit" value="register">
</form>

{% endblock %}